<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Currículo de um desenvolvedor em ascensão"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="../static/css_reset.css" />
    <title>Carlos Henrique de Lima Félix</title>
  </head>

<body class="body">
  <div class="main">
    <header class="header">
      <div class="header_box">

        <div class="contact_info_box">
          <a
          href="mailto:carlos.lima.felix+cv@gmail.com"
          class="email_link"
          aria-label="email"
          >
          <text class="contact_info_text">carlos.lima.felix@gmail.com</text>
          </a>

          <a
          href="tel:41-99625-9946"
          class="phone_link"
          aria-label="phone"
          >
          <text class="contact_info_text">41-99625-9946</text>
          </a>

          <a
          href="https://goo.gl/maps/eC81oWtNvs2BWPTd8"
          class="location_link"
          aria-label="location"
          >
          <text class="contact_info_text">Curitiba, PR</text>
          </a>
          
          

        </div>

        <div class="name_box">
          <h1 class="name">Carlos Henrique de Lima Félix</h1>
        </div>

        <div class="link_box">
          <a
            href="https://github.com/ocarlosfelix"
            class="github_link"
            aria-label="Github"
            ><img class="link_img" src="../static/github.png"
          /></a>

          <a
            href="https://linkedin.com/in/ocarlosfelix/"
            class="linkedin_link"
            aria-label="LinkedIn"
            ><img class="link_img" src="../static/linkedin.png"
          /></a>

        </div>
      </div>
    </header>

        <div class="info_box">
          <div class="info_box_title">
            <h1>Habilidades</h1>
          </div>
          <div class="info_box_description">
            <text>HTML, CSS, Python, Javascript, Typescript, C++, React, React Native, Expo, Flask</text>
          </div>
        </div>

        <hr class="rounded">

        <div class="info_box">
            <div class="info_box_title">
              <h1>Objetivos</h1>
            </div>
            <div class="info_box_description">
                <ul>
                    <li>Desenvolvedor Front-End</li>
                    <li>Desenvolvedor Mobile</li>
                    <li>Desenvolvedor Python</li>
                </ul>
            </div>
          </div>

          <hr class="rounded">

          <div class="info_box">
            <div class="info_box_title">
              <h1>Projetos</h1>
            </div>
            <div class="info_box_description">
              <h2>Touchless Tap</h2>
              <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
                <h2>Touchless Tap</h2>
              <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
                <h2>Touchless Tap</h2>
              <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
                <h2>Touchless Tap</h2>
              <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
                <h2>Touchless Tap</h2>
              <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
              </text>
              <h2>Touchless Tap</h2>
              <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
                <h2>Touchless Tap</h2>
              <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
                <h2>Touchless Tap</h2>
              <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
                <h2>Touchless Tap</h2>
              <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
                <h2>Touchless Tap</h2>
              <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
            </text>
                <h2>Touchless Tap</h2>
                <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
                  <h2>Touchless Tap</h2>
                <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
                  <h2>Touchless Tap</h2>
                <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
                  <h2>Touchless Tap</h2>
                <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
                  <h2>Touchless Tap</h2>
                <text>Código em C++ para automação de torneiras convencionais usando a plataforma Arduino
            </text>
            </div>
          </div>

          <hr class="rounded">
          
          <div class="info_box">
            <div class="info_box_title">
              <h1>Experiência Profissional</h1>
            </div>
            <div class="info_box_description">
                <h2>AD Media Group - 2022</h2>
                <text>Coordenador de comunicação</text>
            </div>
          </div>

          <hr class="rounded">

          <div class="info_box">
            <div class="info_box_title">
              <h1>Educação e Idiomas</h1>
            </div>
            <div class="info_box_description">
              <ul>
                <li><a href="https://cursos.alura.com.br/degree/certificate/52fc9fe9-393c-48d2-a94d-e018112bbf24">Formação HTML e CSS - Alura</a></li>
                <li><a href="https://cursos.alura.com.br/certificate/a30b559a-e0d7-48dd-80e1-4e98b53417d5">Layouts Responsivos: trabalhando com layouts mobile - Alura</a></li>
                <li><a href="https://cursos.alura.com.br/certificate/2bce00c1-112e-45cf-97f8-c58718553cf0">Python: começando com a linguagem - Alura</a></li>
                <li><a href="https://cursos.alura.com.br/certificate/77ad1760-9196-4d50-a06d-1f70225e8019">Python: avançando na linguagem - Alura</a></li>
                <li><a href="https://cursos.alura.com.br/certificate/25f43b10-803b-4342-a8ff-e7a56a9391d5">Python: Entendendo a orientação a objetos - Alura</a></li>
                <li><a href="..">Layouts Responsivos: trabalhando com layouts mobile - Alura</a></li>
                <li><a href="..">Layouts Responsivos: trabalhando com layouts mobile - Alura</a></li>
                <li><a href="..">Layouts Responsivos: trabalhando com layouts mobile - Alura</a></li>
                <li><a href="..">Layouts Responsivos: trabalhando com layouts mobile - Alura</a></li>
                <li><a href="..">Layouts Responsivos: trabalhando com layouts mobile - Alura</a></li>
                <li><a href="..">Layouts Responsivos: trabalhando com layouts mobile - Alura</a></li>
                <li><a href="..">Layouts Responsivos: trabalhando com layouts mobile - Alura</a></li>
                <li><a href="..">Layouts Responsivos: trabalhando com layouts mobile - Alura</a></li>
                <li><a href="..">Layouts Responsivos: trabalhando com layouts mobile - Alura</a></li>


                
            </ul>
                <ul>
                    <li>Português Brasileiro -> Fluente</li>
                    <li>Inglês -> Fluente</li>
                </ul>
            </div>
          </div>

          <hr class="rounded">

          <div class="info_box">
            <div class="info_box_title">
              <h1>Pessoal</h1>
            </div>
            <div class="info_box_description">
              <text>Músico</text>
            </div>
          </div>
          <footer class="footer">
            <div class="footer_box">
              <text class="contact_info_text">carlos félix</text>
              <text class="contact_info_text">curriculum vitae</text>
              <text class="contact_info_text">2023</text>
            </div>
          </footer>
      </div>

  </body>
</html>
